<!doctype html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>后台登录-X-admin2.2</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="stylesheet" href="/static/X-admin/css/font.css">
    <link rel="stylesheet" href="/static/X-admin/css/xadmin.css">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <blockquote class="layui-elem-quote">
                        特别声明：对python职业的数据进行分析后得出：将城市对的python职业的需求绘制成柱状图<br>
                    </blockquote>
                    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                    <div id="chart2" style="width: 1000px;height:400px;"></div>
                    <blockquote class="layui-elem-quote">
                        注意：可以通过更改爬取的信息来修改该图表。
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
<script type="text/javascript">
    //创建一个图表对象myChart, 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById("chart2"));
    // django 后台数据传到前台的时候被强制转义
    // 通过 |safe 来告诉他不用转义
    var cityList = JSON.stringify("{{cityList|safe}}");
    var cityNum = JSON.parse('{{cityNum|safe}}');
    // 去除字符串中之前数组的冗余数据，以便将字符串转换为数组
    var city1 = cityList.replace(/\'/g, '')
    var city2 = city1.replace('[', '')
    var city3 = city2.replace(']', '')
    var city4 = city3.replace(/\"/g, "")
    var city = city4.split(',')
    // 指定图表的配置项和数据
    var option2 = {
        title: {
            text: '岗位数目地区分配图'
        },
        tooltip: {},
        legend: {
            data: ['岗位数目']
        },
        xAxis: {
            data: city
        },
        yAxis: {},
        series: [{
            name: '岗位数目',
            type: 'bar',
            data: cityNum
        }]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option2);
</script>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>