<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/echarts.js"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="chart1" style="width: 600px; height: 400px;"></div>
<div id="chart2" style="width: 600px; height: 400px;"></div>

<script>
    //创建一个图表对象myChart, 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById("chart1"));
    var num = JSON.parse('{{num}}');
    // 指定图表的配置项和数据
    var option1 = {
        title: {
            text: 'python职位薪资图(依据平均薪资)',
            subtext: '',
            left: 'center'
        },
        tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b} : {c} ({d}%)'
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['薪资：0～8K', '薪资：8K～10K', '薪资：10K～15K', '薪资：15K～20K', '薪资：> 20K']
        },
        series: [
            {
                name: '职位薪资',
                type: 'pie',
                radius: '55%',
                center: ['50%', '60%'],
                data: [
                    {value: num[0], name: '薪资：0～8K'},
                    {value: num[1], name: '薪资：8K～10K'},
                    {value: num[2], name: '薪资：10K～15K'},
                    {value: num[3], name: '薪资：15K～20K'},
                    {value: num[4], name: '薪资：> 20K'},
                ],
                emphasis: {
                    itemStyle: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option1);

    //创建一个图表对象myChart, 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById("chart2"));
    var cityList = JSON.stringify("{{cityList|safe}}");
    var cityNum = JSON.parse('{{cityNum|safe}}');
    var city1 = cityList.replace(/\'/g, '')
    var city2 = city1.replace('[','')
    var city3 = city2.replace(']', '')
    var city4 = city3.replace(/\"/g,"")
    var city = city4.split(',')
    // 指定图表的配置项和数据
    var option2 = {
        title: {
            text: '岗位数目地区分配图'
        },
        tooltip: {},
        legend: {
            data: ['岗位数目']
        },
        xAxis: {
            data: city
        },
        yAxis: {},
        series: [{
            name: '岗位数目',
            type: 'bar',
            data: cityNum
        }]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option2);
</script>
</body>
</html>